{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  Roomie | Home
{% endblock %}
{% block css_links %}
  {% comment %} <link rel="stylesheet" href="{% static 'app/signup.css' %}" /> {% endcomment %}
{% endblock %}
{% block content %}
  <div class="container" id="container">
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}

    <a href="{% url 'app:logout' %}">Logout</a>
    <!-- Signup form -->
  </div>
{% endblock %}
