{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}
{% block css_links %}
  <link rel="stylesheet" href="{% static 'app/signup.css' %}" />
{% endblock %}
{% block content %}
  <div class="container" id="container">
    <!-- Signup form -->
    <form class="form-container sign-up-container" method="post">
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
      {% csrf_token %}
      <h3>Login to search for room mates</h3>
      <hr />

      <div class="mb-3">
        <input type="text" class="form-control" id="user_name" placeholder=" username" name="user_name" required />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" placeholder=" password" name="password" required />
      </div>

      <button class="btn btn-success" type="submit">Login</button>
      <a class="btn btn-success my-2" href="{% url 'app:signup' %}">Register</a>
    </form>
  </div>
{% endblock %}
