{% extends 'app/base.html' %}

{% block title %}
  Roomie | Sharing Rooms
{% endblock %}

{% block internal_styles %}
  <style>
    .form-wrapper {
      max-width: 500px;
      margin: auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <h3 class="text-center">Sharing rooms available</h3>
    <hr />
    <div class="rooms-cards-wrapper d-flex flex-column align-items-center gap-3">
      {% for room in rooms %}
        <div class="card" style="width: 18rem;">
          <img src="{{ room.image.url }}" class="card-img-top" alt="room-img" />
          <div class="card-body">
            <h5 class="card-title">{{ room.location }}</h5>
            <p class="card-text">Rs. &nbsp; {{ room.price }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
